#logo{
    display: flex;
    justify-content: space-around;
}
#logo-right > div{
    display: flex;
    border: 1px solid red;
    
}
#logo-right > div > button{
   padding: 0px;
   margin-right: 8px;    
}